body.home{
    height: 100vh;
    width: 100vw;
    background-color:#fff;
    overflow-x: hidden;
    //margin:0;
    //padding:0;
    //background-color:bleu;
}

.home{
    #primary{
        width: 100vw;
    }
}

body.home::after {
    position: absolute;
    width: 100%;
    height: 200%;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    //background-color:#fff;
   
    //clip-path: polygon(100% 61%, 68% 100%, 100% 100%);


    @include media-desktop {
        //clip-path: polygon(85% 0, 100% 0, 100% 100%, 67% 100%);
        clip-path: polygon(84% 0, 100% 0%, 100% 100%, 0 100%);
        //height: 100vh;
    }

    @include tablet{
        clip-path: polygon(90% 0, 100% 9, 100% 100%, 80% 100%);
       background-color: rgb(175, 211, 252);
       height: 200%;
    } 
    z-index: -1;
}

.site-title{
    font-family: $font__sitetitle;
    font-weight: bold;
    font-size: clamp(1.2rem, #{"-0.875rem + 8.33vw"}, 4rem);
    margin-bottom: 0;

    a{
        text-decoration: none;
    }
}

.site-description{
    margin-top: 0;
    font-family: $font__sitetitle;
    font-weight: normal;
    font-size: clamp(.6rem, #{"-0.875rem + 8.33vw"}, 2rem);
} 


.accueil{
    ul{
        list-style-type: none;
        font-size: clamp(1.2rem, #{"-0.875rem + 8.33vw"}, 0.5rem);
       
    }


     img{
        display: block;
        border-radius: 150px 0 150px 0;
        margin-right:45px;
        height: 200px;
        width: 50%;
        padding: 3rem;
    } 
}

.entry-title{
    font-size: 5rem;
    text-transform: uppercase;
}

.site-footer{
    height: 50px
}