
.carrousel-2{
    display: flex;
    width: 900vw;
    height: 30vh;
    
    transition: transform .5s;
    transform: translate(0);
    flex-wrap: nowrap !important;
    .slide__conteneur{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;

        .slide{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include tablet {
            &{
                width: 60%;
            }
        }


        img{
            display: block;
            margin: 2%;
        }
        .slide__info{
            margin: 2%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p{
                font-size: .8rem;
            }
            a{
                font-size: 1.5rem;
                text-decoration: none;
            }
        }
        &:nth-of-type(1){
            background-color: aqua;
        }

        &:nth-of-type(2){
            background-color:pink;
        }

        &:nth-of-type(3){
            background-color:magenta;
        }
}//slide
    
}//slide__conteneur

}//carrousel-2

.ctrl-carroussel{
   // background-color: red;
    width: 100vw;
    display: flex;
    justify-content: center;
    //border: 3px solid blue;
    padding-top: 40px;
   .rad-caroussel{
       display: block;
        margin: .5rem 2rem .5rem 2rem;
        //border: 3px solid red;
    }
}