.main-navigation {
	display: block;
	width: 100%;
	background-color: rgb(230, 20, 20);
	border:2px solid red;
	padding: 20px;
	


	@include media-desktop {
		background-color: #000;
    }

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			//float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
					
					
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
			
		}
	}

	li {
		position: relative;
		padding: 5px;
		
		&:hover > a,
		&.focus > a {
			background-color: rgb(139, 33, 33);
			//padding: 5px;
			justify-content: space-around;

			@include media-desktop {
				background-color: #000;
				padding: 0;
			}
		}
	}

	a {
		display: block;
		text-decoration: none;
	
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle {
	padding: 0;
	//transform: rotate(0deg);
	//transition: transform .25s;
	border: none;
    outline: 0px;
	//overflow: hidden;
	background: none;
}

/* .main-navigation.toggled .menu-toggle{
	transform: rotate(90deg);

	
	
} */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

/* ----------------------------------------------------
Menu pour tablet 
_______________________________________________________ */

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	//position: static;
		justify-content: space-around;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
